@use "../helpers" as *;

.list.tile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(30);
  align-items: stretch;
  padding: 0;
  list-style: none;
}

.list__item {
  display: flex;
}