@use 'helpers' as *;

:root {
  --color-light: #FFFFFF;

  --color-dark: #000000;
  --color-dark-10: #030303;


  --color-grey-10: #47454A;
  --color-grey-20: #7E7E81;
  --color-grey-stroke: #ADADAD;
  --color-grey-50: #A4A8A7;
  --color-grey-70: #ececec;


  --color-light-blue: #E1E5FB;
  --color-light-blue-stroke: #ECEEF8;

  --color-dark-blue: #2040AE;
  --color-dark-blue-stroke: #12288a;

  --color-blue: #4749EF;

  --color-green: #19EE39;

  --color-stack: #E0E5FA;

  --color-accent: #3232db;

  --font-family-bace: 'Inter', sans-serif;
  --font-family-accent: 'PlayfairDisplay';

  --conrainer-width: #{rem(1400)};
  --container-padding-x: #{rem(16)};

  --transition-duration: 0.2s;

  --border: 2px solid #ececec;
  --border-button: 2px solid var(--color-dark);

  @include laptop {
    --conrainer-width: #{rem(1280)};
  }
}